body{
	background-color: white;
	color: black;
	font-family: Candara;
}
 h1{
 	color: #DB1A1A;
 	font-weight: 400;
 	letter-spacing: 10px;
 	font-size: 50px;
 	font-family: Helvetica

 }
  h2{
 	color: #DB1A1A;
 	font-weight: 400;
 	letter-spacing: 5px;
 	font-size: 30px;
 	font-family: Helvetica
 }
  h3{
 	color: #DB1A1A;
 	font-weight: 200;
 	letter-spacing: 5px;
 	font-size: 20px;
 	font-family: Helvetica
 }
p {
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1.5px;
    color: #2C687B;
    line-height: 1.6;
 }
a {
    color: #2C687B;
    font-family: Helvetica;
    letter-spacing: 2px;
    text-decoration: none;
}

a:hover {
    color: #8CC7C4;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;
    color: #2C687B;
    margin: 6px 0;
 }
 /*Custom design with class*/

.container { 
	width: 700px;
	margin: 40px auto;
}
.card-white {
    background-color: white;
    padding: 40px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
    border-radius: 4px;
    margin: 20px 0px;
    text-align: center ;
 }
.img-circle { 
	border-radius: 50%;
}
.btn-blue {
	background-color: #2C687B;
	color: white;
	padding: 15px 20px;
}
.btn-blue: hover {
	background-color: black;
	color: white;
}
.list-inline {
    list-style: none;
    padding-left: 0px;
}

.list-inline li {
    display: inline;
    padding: 10px;
}

#introduction p {
	margin-bottom: 40px;
}







































